# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env
.env.*

# Uploads
jelajahnusa/backend/uploads/*
!jelajahnusa/backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log